<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="//code.jquery.com/jquery-3.7.1.js"></script>
    <script src="//cdn.datatables.net/2.3.7/js/dataTables.js"></script>
    <script src="//cdn.datatables.net/responsive/3.0.2/js/dataTables.responsive.min.js"></script>
    <link rel="stylesheet" href="//cdn.datatables.net/2.3.7/css/dataTables.dataTables.css">
    <link rel="stylesheet" href="//cdn.datatables.net/responsive/3.0.2/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="/styles/admin.css">
    <title>Admin</title>
</head>
<body>
    <%- include('../views/nav') %>
    <h1>Contacts</h1>
    <table id="order-table" class="display">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Job</th>
                <th>Company</th>
                <th>LinkedIn</th>
                <th>Email</th>
                <th>How we Meet</th>
                <th>Other Meet</th> 
                <th>Message</th>
                <th>Email List</th>   
                <th>Email Type</th>
                <th>DateTime</th>                            
            </tr>
        </thead>
        <tbody>
    <% contacts.forEach(contact => { %>
        <tr>
            <td><%= contact.fname %></td>
            <td><%= contact.lname %></td>
            <td><%= contact.job %></td>
            <td><%= contact.company %></td>
            <td><%= contact.linkedin %></td>
            <td><%= contact.email %></td>
            <td><%= contact.meet %></td>
            <td><%= contact.other %></td>
            <td><%= contact.message %></td>
            <td><%= contact.emailList %></td>
            <td><%= contact.type %></td>
            <td><%= contact.timestamp.toLocaleString() %></td>
        </tr>
    <% }) %>
        </tbody>    
    </table>

    <script defer>
        let table = new DataTable('#order-table');
    </script>
</body>
</html>